{% extends 'base.html' %}

{% block content %}
<div class="container1">
<h2> Favorite Teams</h2>
</div>
<p>Here's a list of my favorite Football teams, in order:</p>
<ol>
    
  <div class="container3">
      <div class="minileft">
    {% for i in fball %}
    <li>
        {{ i }}
    
    {% if i == 'Buffalo Bills' %}
        <p>"GO BILLS"</p>
        {% endif %}
    {% endfor %}
    </li>
</ol>
</div>
</div>
<div class="container4">
<div class="miniright">
  {% for x in hockey %}
  <li>
      {{ x }}
  
  {% if x == 'Buffalo Sabres' %}
      <p>"Go Sabres"</p>
      {% endif %}
  {% endfor %}
  </li>
</ol>
</div>

</div>





{% endblock content %}